<h1>Guest Information</h1>

<h3><%= @guest.name %></h3>

<% @guest.episodes.each do |episode| %>
<h3><%= link_to episode.date, episode %></h3>
<% episode.appearances.each do |app| %>
<% if app.guest_id == @guest.id %>
<p>Rating: <%= app.rating %></p>
<%end %>
<%end%>

<% end %>