<h1><%= @guest.name %></h1>

<p>All My Episodes:</p>

<% @guest.episodes.uniq.each do |episode| %> 
    
    <li><%= link_to episode.date, episode_path(episode) %></li>
    
    <li>Rating: <%= @guest.appearances.find(episode_id).rating %></li>

<% end %> 
