<h1>Guest show page</h1>



<h2>List of the Episodes: <ol><% @guest.episodes.each do |e| %>
date: <%= link_to e.date, episode_path(@guest.episodes) %> <br>
rating: <%= e.rating %> </ol></h2>
<% end %>